<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-------------jquery库-------------->
  	<script type="text/javascript" src="../static/js/jquery-1.8.3.min.js"></script>
	<!-------------Amazeui--------------->
    <script type="text/javascript" src="../static/js/amazeui.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/amazeui.css">
	<link rel="stylesheet" href="../static/plugins/elementui/index.css">
    <!------------核心样式-------------->
    <link rel="stylesheet" type="text/css" href="../static/css/user.css">
	<script src="../static/js/vue.js"></script>
	<script src="../static/js/axios.min.js"></script>
	<script src="../static/plugins/elementui/index.js"></script>
</head>
<body>

<!-------------------登录------------------->
<div id="log_register">
	
	<div class="lr_box">
		
		<div class="tag">
			<ul v-if="">
				<li><a class="cur" th:href="@{/gotologin}">登录</a></li>
				<li><a th:href="@{/gotoregister}">注册</a></li>
				<div class="clear"></div>
			</ul>
		</div>
		<form th:action="@{/success}" method="post">
		<table class="table_list">
			<tbody>
				<tr>
					<td><input class="text" name="phone" v-model="phone" type="text" placeholder="手机号" @mouseout="valiator"></td>
				</tr>
				<tr>
					<td><input class="text" type="password" v-model="password" placeholder="您的密码" @mouseout="valiator"></td>
					<p style="color: red" v-if="show">{{erromes}}</p>
				</tr>
				<tr>
					<td>
						<label class="am-checkbox">
							<input type="checkbox" id="checkbox_a1" class="chk_1"> 
							<label for="checkbox_a1"></label> 记住密码
						</label>
						<a class="back" href="#">找回密码</a>
					</td>
				</tr>
				<tr>
					<td><input class="submit" type="submit" value="登录"></td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
</div>
<script >
	new Vue({
		el:"#log_register",
		data:{
			phone:"",
			password:"",
			erromes:"",
			show:false
		},
		methods:{
			valiator(){
				var new_this=this
               axios.post("/checklogin",{phone:this.phone,password:this.password}).then(function (response) {
                   if (response.data.status==404){
                   	  if (new_this.phone!=""){
						  new_this.erromes=response.data.message
						  new_this.show=true
					  }
                   	  else new_this.show=false
				   }
                   else if (response.data.status==500){
					   if (new_this.password!="") {
						   new_this.erromes = response.data.message
						   new_this.show = true
					   }
					   else new_this.show=false
				   }
			   })
			}
		}
	})
</script>
</body>
</html>