<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  >
<head>
    <title>体验详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-------------jquery库-------------->
  	<script type="text/javascript" src="../static/js/jquery-1.8.3.min.js"></script>
    <!-------------Amazeui--------------->
    <script type="text/javascript" src="../static/js/amazeui.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/amazeui.css">
    <!------------核心样式-------------->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<script type="text/javascript" src="../static/js/axios.min.js"></script>
	<script type="text/javascript" src="../static/js/vue.js"></script>
	<style type="text/css">
		.rent1{
			background-color: orange;
			padding: 6px;
			color: white;
			border-color: white;
			float: left;
			position: relative;
			top:30px;
			left: 618px;
			right:500px;
		}
		.rent2{
			background-color: orange;
			padding: 6px;
			color: white;
			border-color: white;
			float: left;
			position: relative;
			top:30px;
			left: 650px;
			right:30px;
		}
		#container{
			 position: relative;
             width: 600px;
			 height: 80px;
		}
	</style>
</head>
<body>
<!-------------------工具栏------------------->
<div id="toolbar">
	<div class="cw1200">
		<ul class="fl">
			<li class="tb"><p th:text="'您好'+${session.username}+'，欢迎访问'"></p></li>
			<li class="tb" v-if="show"><a th:href="@{/gotologin}">登录</a><span>|</span></li>
			<li class="tb" v-if="show"><a th:href="@{/gotoregister}">注册</a></li>
		</ul>
		<!-------------------签到弹出层------------------->
		<div id="sign_layer">
			<div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
				<div class="am-modal-dialog">
					<div class="win-m">
						<p class="p1">签到成功</p>
						<p class="p1">获得<span class="already-sign">20</span>积分</p>
						<p class="p2">每天签到都可以获得积分哦</p>
						<div class="am-modal-footer">
							<span class="am-modal-btn">知道了</span>
						</div>
					</div>

				</div>
			</div>
		</div>
		<ul class="fr">
			<li class="tb">
				<!-------------------用户------------------->
				<a href="#" th:text="${session.username}"></a>
				<div class="user">
					<a class="user-hd" href="#">
						<img th:src="${session.userheader}"/><b></b>
						<div class="clear"></div>
					</a>
					<div class="user-bd">
						<div class="integral"><img src="../static/images/integral_ico.png"/>当前积分 609</div>
						<ul class="nav_sort">
							<li><a href="my_index.html"><i class="i1"></i>我的主页</a></li>
							<li><a href="write_note.html"><i class="i2"></i>写游记</a></li>
							<li><a href="my_note.html"><i class="i9"></i>我的游记</a></li>
							<li><a href="collection_list.html"><i class="i3"></i>我的收藏</a></li>
							<li><a href="project_order.html"><i class="i4"></i>商品订单</a></li>
							<li><a href="scenic_order.html"><i class="i5"></i>旅游订单</a></li>
							<li><a href="note_comments.html"><i class="i6"></i>我的评论</a></li>
							<li><a href="my_info.html"><i class="i7"></i>设置</a></li>
							<li><a href="#"><i class="i8"></i>退出</a></li>
						</ul>
					</div>
				</div>
				<span>|</span>
			</li>
			<li class="tb"><a href="shop_car.html"><i class="cart_ico"></i>购物车</a><span>|</span></li>
			<li class="tb"><a href="news_list.html">用户帮助中心</a><span>|</span></li>
			<li class="tb"><img src="../static/images/tel_ico.gif"/><font>40000-40000</font></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
<!-------------------版头------------------->
<div id="header">
	<div class="cw1200">
		<!-------------------logo------------------->
		<div class="logo fl"><a title="" href="index.html"><img alt="" src="../static/images/logo.png" style="width: 260px;height: 95px;border-color: white;margin-left: 30px"></a></div>		<div class="search_nav fl">
			<!-------------------搜索------------------->
			<div class="search radius6">
				<form name="searchform" method="post" action="/e/search/index.php">
					<input name='ecmsfrom' type='hidden' value='9'>
					<input type="hidden" name="show" value="title,newstext">
					<select name="classid" id="choose">
						<option value="0">景区</option>
						<option value="1">特产</option>
						<option value="4">游记</option>
						<option value="22">文章</option>
					</select>
					<input class="inp_srh" name="keyboard"  placeholder="请输入您要搜索的关键词" >
					<input class="btn_srh" type="submit" name="submit" value="搜索">
				</form>
			</div>
			<script type="text/javascript" src="../static/js/jquery.select.js"></script>
			<!-------------------导航------------------->
		<div class="nav">
			<ul>
				<li><a title="" th:href="@{/}">首页</a></li>
				<li><a title="" th:href="@{/tourim(pagenum=1)}">遵义旅游</a></li>
				<li><a title=""   th:href="@{/foodshop(pagenum=1)}">特产商城</a></li>
				<li><a title="" class="cur" th:href="@{/contryside(pagenum=1)}">乡村体验</a></li>
				<li><a title="" th:href="@{/news}">新闻资讯</a></li>
			</ul>
		</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!------------------游记版头-------------------->
<div id="note_head">
	<div class="head">
		<div class="banner"><img th:src="${huzhuEntity.hzBannerimg}"/></div>
		<div class="title">
			<div class="cw1200"><p th:text="${huzhuEntity.hzBanner}">风景优美，空气清新...</p></div>
			<span><img src="../static/images/eye_ico.png"/>999+</span>
		</div>
	</div>
	<div class="user">
		<div class="cw1200">
			<div class="pic"><img th:src="${huzhuEntity.hzHeader}"/></div>
			<div class="meta">
				<label th:text="'房主：'+${huzhuEntity.hzName}">房主：独白。</label>
				&ensp;&ensp;
				<span th:text="'发布于：'+${fangwu.publishTime}">2017-02-02 00:25</span>
				&ensp;
				<span id="phone_num" th:text="'联系电话：'+${huzhuEntity.hzTelephone}"></span>
			</div>
			<div class="operation">
				<a href="#">
					<img src="../static/images/favour_ico.png"/>
					<p>50个赞</p>
				</a>
				<a href="#">
					<img src="../static/images/collection_ico.png"/>
					<p>21个收藏</p>
				</a>
			</div>
			
		</div>
		
	</div>
	
	
</div>

<!------------------子页框架-------------------->
<div id="sub_from">
    <div class="cw1200">
		<div class="w810 fl">
			<!------------------公共盒子-------------------->
			<div class="public_box bg1">
				<div class="public_title">
					<div class="fl"><img src="../static/images/from_title_left.png"/></div>
					<div class="con">
						<div class="lamp_ico"><img src="../static/images/lamp_ico.png"/></div>
						<div class="name"><h3>环境展示</h3></div>
					</div>
					<div class="fr"><img src="../static/images/from_title_right.png"/></div>
					<div class="clear"></div>
				</div>
				<!------------------文章-------------------->
				<div id="article">

					<div class="con">
						<h3 th:text="'房屋介绍：'+${fangwu.fwIntro}"></h3>
						<h3>相关图片：</h3>
						<ul>
							<li th:each="img:${fangwu.fangwuimgs}">
								<br>
								<img style="width: 400px;height: 200px" th:src="${img.imgPath}"/>

							</li>
						</ul>
					</div>
				</div>

			</div>
			<h5 style="margin-left: 630px;margin-top: 50px" th:text="'新游客友情价:￥'+${fangwu.fwPrice}+'/月'">2000 </h5>
            <h6 style="margin-left: 630px;margin-top: 10px;opacity: 0.5">原月租价:￥2888 /月</h6>
			<div id="container">

				<a href="#javascript(0)"><input @click="jumpWindow" class="rent1" type="button" value="联系房主"> </a><a th:href="@{/gotohouseorder(huzu=${huzhuEntity},fangwu=${fangwu},hongdong=${fangwuHuodong})}"><input class="rent2" type="button" value="立即租下"></a>
			</div>

			<!------------------公共盒子-------------------->
			<div class="public_box bg1">
				<div class="public_title">
					<div class="fl"><img src="../static/images/from_title_left.png"/></div>
					<div class="con">
						<div class="lamp_ico"><img src="../static/images/lamp_ico.png"/></div>
						<div class="name"><h3>体验评论</h3></div>
					</div>
					<div class="fr"><img src="../static/images/from_title_right.png"/></div>
					<div class="clear"></div>
				</div>
				<!------------------评论-------------------->
				<div id="comment">
					<div class="release">
						<form th:action="@{/fangwu_savecomment}" method="post">
							<img th:src="${session.userheader}"/>
							<input name="fwId" type="hidden" th:value="${fangwu.fwId}"/>
							<input name="hzName" type="hidden" th:value="${huzhuEntity.hzName}"/>
							<input name="content" class="text" type="text" placeholder="说说你的看法..."/>
							<input class="submit" type="submit" value="发表"/>
							<div class="clear"></div>
						</form>
					</div>
					<div class="list">
						<div class="tag">
							<a class="cur" href="#">最新评论</a><span>|</span><a href="#">正序排列</a>
						</div>
						<ul>
							<li th:each="comment:${comments}">
								<div class="pic"><img th:src="${comment.userHeader}"/></div>
								<div class="con">
									<label th:text="${comment.userName}">A monologue. 独白。</label>
									<p th:text="${comment.coContent}">非常好</p>
									<span th:text="${comment.coTime}">发表于：2017-02-05 14:20</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
		<div class="w380 fr">
			<!------------------公共盒子-------------------->
			<div class="public_box bg2">
				<div class="public_title">
					<div class="fl"><img src="../static/images/from_title_left.png"/></div>
					<div class="con">
						<div class="lamp_ico"><img src="../static/images/lamp_ico.png"/></div>
						<div class="name"><h3>生活体验</h3></div>
						<div class="more"><a href="note_list.html">在这里你可以体验到</a></div>
					</div>
					<div class="fr"><img src="../static/images/from_title_right.png"/></div>
					<div class="clear"></div>
				</div>
				<!------------------其他人分享-------------------->
				<div id="other_share">
					<ul>
						<li th:each="activity:${fangwuHuodong.huodongEntities}">
							<div class="pic">
								<div class="cover"><a href="#javascript(0)"><img class="scale-effect " th:src="${activity.hdPicture}" /></a></div>
							</div>
							<div class="meta">
								<p><a href="#javascript(0)" th:text="${activity.hdIntro}">前往田地一览农作物</a></p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="clear"></div>
    </div>
</div>

<!-----------------版底---------------->
<div id="footer">
	<div class="cw1200">
		<div class="line"><img src="../static/images/b_line.png"/></div>
		<div class="con">
			<p>遵义文化旅游发展有限公司 版权所有</p>
			<p>地址：贵州省遵义市红花岗区　邮编：000000　电话：0000-00000000　业务电话：0000-0000000</p>
			<p>Copyright 2019 zhiqi All Rights Reserved | 豫ICP备00000000号　技术支持：zhiqi</p>
		</div>
		<div class="clear"></div>
	</div>
</div>
<script type="text/javascript">
	new Vue({
		el:"#sub_from",
		data:{
			phone:"",
		},
		methods:{
			jumpWindow(){
				var sphone = document.getElementById("phone_num").innerHTML;
				var strings = sphone.split("：");
				this.phone=strings[1]
				if (confirm("房主号码:"+this.phone)){

				}
			}
		}
	})
</script>
</body>
</html>